//Light mode//
.outer-light {
  .hover-text:hover {
    :hover {
      opacity: 0.8;
    }
  }
  i {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    color: #EBC815;
  }

  .sun {
    visibility: hidden;
  }
}

//Dark mode//
.outer-dark {
  background: linear-gradient(to top, #412b6c, #13123c, #02020e);


  .title, .toggle {
    color: white;

    .hover-text:hover {
      color: black;

      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0 0 60px #fefefe,
        0 0 60px #fefefe;
    }
  }

  i {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    color: #EBC815;
  }

  .moon {
    visibility: hidden;
  }
}


//this styles the label, text indent gets rid of the text, everything else is just styling the button.
label {
  cursor: pointer;
  position: fixed;
  width: 70px;
  height: 70px;
  background: #313131;
  display: block;
  border-radius: 100px;
  bottom: 20px;
  right: 15px;


}

// changes the background color when checked.
input:checked + label {
  background: #eeeeee;
}
input#switch{
  display:none;
}


