:root {
  --color-one: #34D1D1;
  --color-two: #2F2235;
  --color-three: #3F3244;
  --color-four: #F2F2F2;
  --color-five: #D1D2D3;
  --color-six: #666666;
  --color-seven: #000000;
  --color-eight: #ffffff;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.card:hover {
  border-radius: 25px;
  margin-top: 0px;
  margin-right: -30px;
  margin-left: -30px;
  padding: 0px 30px;
  transition: 0.3s;
}